<?xml version="1.0" encoding="utf-8"?><!--
  ~ /*
  ~  *
  ~  *  * ****************************************************************************
  ~  *  * Copyright (c) 2015. Muriel Kamgang Mabou
  ~  *  * All rights reserved.
  ~  *  *
  ~  *  * This file is part of project AndroidWPTemplate.
  ~  *  * It can not be copied and/or distributed without the
  ~  *  * express permission of Muriel Kamgang Mabou
  ~  *  * ****************************************************************************
  ~  *
  ~  *
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.mk.wpmagazine.android.component">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".broadcast.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <service android:name=".services.GcmIntentService" />


        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FeedsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name=".activities.GalleryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.FeedsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FeedsActivity" />
        </activity>
        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.FeedViewerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.FeedsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FeedsActivity" />
        </activity>
        <activity
            android:name=".activities.FavoriteActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.FeedsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FeedsActivity" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.FeedsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FeedsActivity" />
        </activity>

        <receiver android:name=".broadcast.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".services.UpdaterService" />
    </application>

</manifest>
